
<table>
  <caption><br> Admin profile , Handle Patients<br></caption>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Age</th>
      <th>Location/th>
      <th>Contact</th>
      <th>Gender</th>
      <th>Patient Infos</th>

    </tr>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.id %></td>
        <td><%= patient.name %></td>
        <td><%= patient.age %></td>
        <td><%= patient.city %>/td>
        <td><%= patient.contact %></td>
        <td><%= patient.gender %></td>
        <td>
          <%= link_to "Edit","/patients/edit/#{patient.id}" %>Edit
          <%= link_to "Delete","/patients/destroy/#{patient.id}" %>Destroy
          <%= link_to "Show", "/patients/#{patient.id}"%>Show
          <%= link_to "All doctors" ,doctors_path(id: patient.id) %> All Doc
        </td>
      </tr>
    <% end %>

</table>
<br>
<br>
<%= link_to "New Patient",new_patient_path %>


<style>
    body {
        color: black;
        background-color: #999999;
        font-family: 'Raleway', sans-serif;
    }



 table
{
-webkit-border-horizontal-spacing: 0px;
-webkit-border-vertical-spacing: 0px;
background-color: rgba(0, 0, 0, 0);
border: 1px solid rgb(84, 159, 137);
border-collapse: collapse;
box-sizing: border-box;
max-width: 100%;
width: 100%;
}

tr
{
border-collapse: collapse;
}

th {
padding: 6px;
border-bottom: 2px solid rgb(221, 221, 221);
border-collapse: collapse;
border-left: 1px solid rgb(221, 221, 221);
border-right: 1px solid rgb(221, 221, 221);
border-top: 0px none rgb(51, 51, 51);
box-sizing: border-box;
text-align: left;
}

td {
padding: 6px;
vertical-align: top;
width: 14%;

border: 1px solid #ddd;
border-top-color: rgb(221, 221, 221);
border-top-style: solid;
border-top-width: 1px;
border-right-color: rgb(221, 221, 221);
border-right-style: solid;
border-right-width: 1px;
border-bottom-color: rgb(221, 221, 221);
border-bottom-style: solid;
border-bottom-width: 1px;
border-left-color: rgb(221, 221, 221);
border-left-style: solid;
border-left-width: 1px;}


    a {
        background: #29B6F6;
        color: #fff;
    }
</style>