<h1><%= @patient.name %></h1>
<p><%= @patient.condition %> <%= link_to "Edit condition", edit_patient_path(@patient.id) %></p>


<ol>
  <% @patient.appointments.each do |appt| %>
    <li>
      <%= appt.doctor.name %> - <%= appt.appointment_time %>
      <%= def appointment_path(i)
              # code here
          end
          form_tag appointment_path(appt.id), method: :delete do %>
        <%= submit_tag "Delete appointment" %>
      <% end %>
    </li>
  <% end %>
</ol>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>