<table size="50%" padding="3" cellspacing="3" border="3" bordercolor="green">
  <caption><br>Doctor Details<br></caption>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Speciality</th>
      <th>City</th>



    </tr>
    <% @doctors.each do |doctor| %>
      <tr>
        <td><%= doctor.id %></td>
        <td><%= doctor.name %></td>
        <td><%= doctor.speciality.name %></td>
        <td><%= doctor.city.name %></td>
        <td class="links">
          <%= link_to "show","/doctors/#{doctor.id}" %>
          <%= link_to "Edit","/doctors/edit/#{doctor.id}" %>
          <%= link_to "Delete","/doctors/destroy/#{doctor.id}" %>
          <%= link_to "all patients",patients_path(id: doctor.id)%>

        </td>
      </tr>
    <% end %>

</table>
<br>
<br>
<div class="links">
  <%= link_to "Add doctor" ,new_doctor_path %>
</div>