<h1> Handle Doctors #index</h1>
<p>Find me in app/views/doctors/index.html.erb</p>
<!--<p id="notice"><%#= notice %></p>-->
<%= image_tag "start.png" , size: "300X300", :alt => "dr login"%>

<h1>Physicians</h1>
<%= link_to 'New Doctor', new_doctor_path %>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @doctors.each do |doc| %>
    <tr>
      <td><%= doc.name %></td>
      <td><%= doc.email %></td>
      <td><%= link_to 'List', doc %></td>
      <td><%= link_to 'Edit', edit_doctor_path(doc) %></td>
      <td><%= link_to 'Destroy', doc, method: :delete, data: { confirm: 'Are u sure' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

