
<!DOCTYPE html>

<head>
  <meta charset="utf8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css"
        media="screen" title="no title">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.3/css/bootstrap.min.css"
        media="screen" title="no title">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.1.1/css/mdb.min.css"
        media="screen" title="no title">
  <title>DrDoggy </title>

</head>
  <div layout:fragment="dashboard-contents">
    <form method="post" class="form mt-2" th:object="${doctor}"
          th:action="@{'/partner/doctors/edit/'+${id}}">
      <div class="card">
        <div class="card-header bg-white">
          <div class="text-muted">DrDoggy</div>
        </div>
        <!-- card header -->



<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <h1 class="text-white">All Doctors member at DrDoggy</h1>
    <table size="50%" padding="3" bordercolor="green">
      <caption><br>Doctor Details<br></caption>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Specialty</th>
        <th>City</th>
        <table size="50%" padding="3" bordercolor="green">
  <caption><br>Doctors Details<br></caption>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Specialty</th>
      <th>City</th></tr>
    <% @doctors.each do |doctor| %>
      <tr>
        <td><%= doctor.id %></td>
        <td><%= doctor.name %></td>
        <td><%= doctor.speciality.name %></td>
        <td><%= doctor.city.name %></td>
        <td class="links">
          <%= link_to "show","/doctors/#{doctor.id}" %>
          <%= link_to "Edit","/doctors/edit/#{doctor.id}" %>
          <%= link_to "Delete","/doctors/destroy/#{doctor.id}" %>
          <%= link_to "all patients",patients_path(id: doctor.id)%>

        </td>
      </tr>
    <% end %>

</table>
<br>
<br>
<div class="links">
  <%= link_to "Back Home" ,home_index_path %>
</div>