
    <h1 class="text-white">Hello Doc </h1>
<%= form_tag doctors_path, method: :patch do %>
  <%= label_tag :name %>
  <%= text_field_tag :name %>
  <%= label_tag :condition %>
  <%= text_field_tag :condition %>
  <%= submit_tag "Create doctor" %>
<% end %>
<!--<div class="top-hero-wrapper text-center">-->
<!--  <div class="container top-hero-container">-->
    <div class="row">
      <div class="col-md-offset-3 col-md-3">
        <%= link_to 'Sign up', '/sessions/new', class: 'btn btn-block btn-white' %>
      </div>
      <div class="col-md-3">
        <%= link_to 'Log in', '/login',class:  'btn btn-block btn-white' %>
      </div>
      <div class="col-md-3">
        <%= link_to 'Log out', 'sessions/destroy',class:  'btn btn-block btn-white' %>
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<%#= render 'form', doc: @doctor %>
<%= image_tag "start.png" , size: "300X300", :alt => "dr smiling and relaxing"%>



<br>
