<table size="50%" padding="3" marging="3"  bordercolor="pink">
  <caption><br>Appointment<br></caption>
    <tr>
      <th>ID</th>
      <th>Dr Name</th>
      <th>Patient Name</th>
      <th>Date Of RV</th>
      <th>Appointment Detail</th>

    </tr>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.id %></td>
        <td><%= appointment.doctor.name %></td>
        <td><%= appointment.patient.name %></td>
        <td><%= appointment.time%></td>
        <td>
          <%= link_to "Edit","/appointments/edit/#{appointment.id}" %>
          <%= link_to "Delete","/appointments/destroy/#{appointment.id}" %>
        </td>
      </tr>
    <% end %>

</table>
<br>
<br>
<%= link_to "Create New Appointment","/appointments/new" %> create new rv